{% extends 'base.html.twig' %}

{% block body %}
    <h1>BookUniq list</h1>

    <table>
        <thead>
            <tr>
                <th>Code</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bookUniq in bookUniqs %}
            <tr>
                <td><a href="{{ path('bookuniq_show', { 'id': bookUniq.code }) }}">{{ bookUniq.code }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('bookuniq_show', { 'id': bookUniq.code }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('bookuniq_edit', { 'id': bookUniq.code }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bookuniq_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
