{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Library</span> API</h1>
            </div>

            <div class="pb25"> </div>

            <div class="btn-group btn-group-lg" role="group" aria-label="...">
                <a class="btn btn-default" href="{{ path('tag_index') }}">Tags</a>
                <a class="btn btn-default" href="{{ path('lang_index') }}">Lang</a>
                <a class="btn btn-default" href="{{ path('form_index') }}">Form</a>
                <a class="btn btn-default" href="{{ path('locality_index') }}">Locality</a>
                <a class="btn btn-default" href="{{ path('book_index') }}">Books</a>
                <a class="btn btn-default" href="{{ path('internalbook_index') }}">Internal Books</a>
                <a class="btn btn-default" href="{{ path('bookuniq_index') }}">Detail books</a>
                <a class="btn btn-default" href="{{ path('user_index') }}">Users</a>
            </div>

        </div>
    </div>
{% endblock %}
