{% extends 'base.html.twig' %}

{% block body %}
    <h1>Book</h1>

    <table>
        <tbody>
            <tr>
                <th>Bookid</th>
                <td>{{ book.bookId }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ book.name }}</td>
            </tr>
            <tr>
                <th>Detaillink</th>
                <td>{{ book.detailLink }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ book.image }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('book_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('book_edit', { 'id': book.bookId }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
