{% extends 'base.html.twig' %}

{% block body %}
    <h1>Locality</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ locality.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ locality.name }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('locality_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('locality_edit', { 'id': locality.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
